<div class="container">
<h1 class="logo">
  Adenium
</h1>
</div>

<div class="row">
<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="active">
  	<%= link_to(root_path) do %>  
      Проекты
    <%end-%>
  </li>
  <li role="presentation">
  	<a href="#">Настройки</a>
  </li>
  <li role="presentation">
  	<a href="#">Документация</a>
  </li>
  <li role="presentation">
  	<a href="#">Уведомления</a>
  </li>
</ul>
</div>